header {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/mandrill.jpg');
	height: 100vh;
}

header h1{
	text-align: center;
	margin-top: 0;
	color: #fff;
	font-family: 'Six Caps', sans-serif;
	font-size: 20em;
}

header h2{
	text-align: center;
	margin-top: 0;
	color: #fff;
	font-family: 'Six Caps', sans-serif;
	font-size: 4em;
}


header .container {
	margin-left:  35%;
}

footer {
	text-align: center;
	margin-top: 5%;
	color: #666;
}